* {
    padding: 0;
    margin: 0;
}

body a {
    text-decoration: none;
}

.myheader {
    background-color: #eee5e5;
}

.header-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.header-logo {
    font-size: 28px;
    border: 2px solid black;
    padding: 15px;
}

.header-menu {
    margin-top: 15px;
}

.header-menu a {
    font-size: 24px;
    color: black;
    padding: 10px;
}

.header-menu a:hover {
    font-size: 24px;
    color: rgb(247, 241, 241);
    padding: 10px;
    background-color: black;
    border-radius: 6%;
}

.hero {
    margin-top: 100px;
    margin-bottom: 100px;
}

.hero-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    padding: 10px 10px;
}

.hero-text {
    width: 50%;
}

.hero-image {
    width: 20%;
    margin-left: 40px;
}

.hero-text h1 {
    padding-top: 50px;
    font-family: 'DM Serif Display', serif;
    font-size: 80px;
    color: #353535;
}

.hero-text p {
    font-family: sans-serif;
    font-size: 24px;
}

.hero-text [type=button] {
    font-family: sans-serif;
    font-size: 24px;
    padding: 15px;
    margin-left: 50px;
    background-color: lightgreen;
}

.hero-text [type=button]:hover {
    font-family: sans-serif;
    font-size: 24px;
    padding: 15px;
    margin-left: 50px;
    background-color: rgb(14, 32, 14);
    color: white;
}

.article {
    background-color: #002930;
}

.article-container {
    max-width: 70%;
    margin: auto;
}

.article-part1 {
    color: white;
    padding-top: 100px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
}

.article-part1 [type=button] {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.article-part2 {
    display: flex;
    justify-content: space-between;
}

.article-part3 {
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    padding-bottom: 50px;
}

.aboutme {
    background-color: #FAF7F2;
    margin-bottom: 100px;
}

.aboutme-main {
    max-width: 50%;
    margin: auto;
    align-items: center;
}

.aboutme-main h1 {
    margin-top: 100px;
    margin-bottom: 20px;
    align-items: center;
    font-size: 40px;
}

.aboutme-main p {
    font-size: 24px;
    margin-bottom: 40px;
}

.aboutme-main a {
    text-transform: uppercase;
    border: 2px solid black;
    padding: 15px;
    margin-bottom: 100px;
}

.subscribe {
    background-color: #002930;
    margin-bottom: 100px;
}

.subscribe-container {
    max-width: 70%;
    margin: auto;
    display: flex;
    flex-basis: auto;
}

.subscribe-part1 h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: white;
    padding-top: 200px;
}

.subscribe-part1 p {
    font-size: 24px;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
}

.subscribe-part2{
padding-top: 80px;
padding-left: 20px;
}
.subscribe-part2 [type=text] {
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    padding: 15px 20px;
    margin: 12px 0;
    box-sizing: border-box;
}

.subscribe-part2 [type=email] {
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    margin-bottom: 80px;
}

.subscribe-part2 a {
    border: 2px solid white;
    padding: 20px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(209, 149, 36);
    color: white;
}

.subscribe-part2 a:hover{
    border: 2px solid rgb(7, 6, 6);
    padding: 20px;
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(206, 196, 177);
    color: rgb(29, 14, 14);
    transition: 2s;
}

.myfooter{
    background-color: #FAF7F2;
}
.myfooter-container{
    max-width: 70%;
    margin: auto;
}



.icon{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.bottom{
    background-color:#000000 ;
    align-items: center;
}